/* body {
    background-color: lightblue;
} */

/* h1 {
    background-color: green;
} */

div {
    background-color: lightblue;
    background: rgb(0, 128, 0);
}

p {
    background-color: yellow;
}

div.first {
    /* background-color: lightblue;
    opacity: 0.6; */
    background: rgba(0, 128, 0, 0.6);
}

div.second {
    /* background-color: lightblue;
    opacity: 0.3; */
    background: rgba(0, 128, 0, 0.3);
}

div.third {
    /* background-color: lightblue;
    opacity: 0.1; */
    background: rgba(0, 128, 0, 0.1);
}

